# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objective__
* List of popular languages that data scientists use
* List of commonly used libraries used by data scientists
* List of of data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++ etc..;

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. Keras

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Jeremy Hans